<form id = "formulario">
    <section>
        <h1 class="header__tittle--bold">Registrar héroe</h1>
        <h4>Completa los datos para tu registro de heroe</h4>
        <label for="nombre">Nombre</label>
        <input placeholder="Nombre del héroe" type="text" name="firstName" id="nombre" required pattern="[a-zA-Z]+">
        <br>
        <br>
        <label for="bio">Biografía</label>
        <input placeholder="Breve descripción" type="text" name="lastName" id="bio" required>
        <br>
        <br>
        <label for="aparicion">Aparición</label>
        <input type="date" name="aparicion" id="aparicion">
        <br>
        <br>
        <label for="casa">Casa</label>
        <input placeholder="Marvel o DC" name="casa" required pattern="[a-zA-Z]+">
        <br>
        <br> 
        <!-- SUBMIT -->
        <div>
            <input type="submit" onclick="" value="Registrar héroe" class="submit">
        </div>
    </section>
</form>
